body{
    font-family: "Prociono", serif;
	font-size: 0.875rem;
	letter-spacing: .050rem;
    background-image: url(https://images.unsplash.com/photo-1529753253655-470be9a42781?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: rgba(186, 186, 186, 0);
    font-size: 25px;
    letter-spacing: 5px;
}

.main-header::before {
    transform: scale(0.8); 
	content: url("MUFC_1973_badge.png");

}

.site-title {
    color:rgb(0, 0, 0);
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    text-align: center; 
}

.navbar{
    background-color: white;
    position: sticky; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    padding: 20px 50px;
}

.nav-link{
    text-decoration:none;
    color: black;
    background-color: transparent;
    padding: 20px 25px;
    letter-spacing: 0.0625rem; 
    transition: color 0.5s;
    font-weight: bold;
    font-size: 25px;
}

.nav-link:visited {
	color: darkred;
}

.nav-link:hover{
    color:black;
    text-shadow: -.5px 0 red, 0 .5px red, .5px 0 red, 0 -.5px red;
    background-color: rgba(255, 255, 255, 0);
}

.nav-link:active{
	color: red;
}

.nav-link::after {
    content: 'Ϟ';
    padding-left: 5px;
}

.search-bar {
    margin-left: auto;
}


.search-input {
    padding: 10px 15px;
    border: 2px solid grey;
    border-radius: 20px;
    font-size: 15px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0.189); 
    transition: background-color 0.5s; 
}

.search-input:hover {
    background-color: darkred;
}

.search-input:focus{
	background-color: rgba(178, 48, 48, 0.854);
	color: white;
}

.search-button {
    padding: 10px 15px;
    border: .25rem solid black;
    border-radius: .5rem;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.957);
    font-size: 15px;
    letter-spacing: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.search-button:hover {
    font-size: 14.8px;
    font-weight: bold;
    color: rgb(228, 97, 97); 
}

.search-button:focus-visible{
	box-shadow: 1em 1em 1em gray;
}

.facts {
    display: flex;
    flex-direction: column; 
}

.content-image{
    max-width:30%;
    height: auto;
	border: 2px solid white;
	border-color: white;
    border-radius:10px;
    margin:100px
}

.facts {
    justify-content: flex-start; 
    align-items: center;
    color: white;
    font-size: 1rem; 
    margin: 0; 
}

.facts:nth-child(odd) {
    flex-direction: row; 
}

.facts:nth-child(even) {
    flex-direction: row-reverse; 
}

.fact-text {
    max-width: 50%; 
}

.names-passed {
    font-weight: bold;
    font-style: italic;
    font-size: 4em;
    letter-spacing: 5px;
}

.names-passed::after{
    content:"🕯";
    font-size: 15px;
}

.names {
    font-weight: bold;
    font-style: italic;
    font-size: 4em;
    letter-spacing: 5px;
}

.years {
    font-size: 15px;
    display: block; 
}

.fact-description {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-indent: 40px; 
    margin: 0; 
}

.footer{
    font-size: 10px; 
    display:flex;
    justify-content: center;
    padding:10px;
}

.copyright{
    letter-spacing: 4px;
    color: gray;
    margin: 0;
    white-space: nowrap;
}

a.github-link{
    text-decoration: none;
    color:grey;
}

a.github-link:hover{
    text-decoration: none; 
    color:lightgrey;
    font-weight: bold;

}

.github-link:visited{
    text-decoration: none;
    color:white;
}

@media (max-width: 600px) {
    @media (max-width: 600px) {
        body {
            font-size: 0.625rem;
            letter-spacing: 0.05rem;
            overflow-x: hidden;
        }
    
        .site-title {
            font-size: 14px;
            margin: 10px 10px;
        }
    
        .navbar {
            flex-direction: column;
            align-items: center;
            justify-content: center; 
        }
    
        .nav-link {
            padding: 5px;
            font-size: 15px;
            letter-spacing: 5px;
            text-align: center;
        }
    
        .search-bar {
            margin-top: 2px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .search-input {
            width: 70%;
            font-size: 10px;
        }
    
        .search-button {
            font-size: 12px;
            padding: 5px 10px;
            margin-left: auto;
        }
    
        .facts {
            flex-direction: column;
            gap: 1rem;
            align-items: flex-start;
        }
    
        .content-image {
            max-width: 50%;
            border: 2px solid white;
            border-radius:10px;
            margin: 10px 10px;
        }
    
        .fact-text {
            max-width: 90%;
            font-size: 10px;
            letter-spacing: 0.5px;
            margin: 5px;
        }
    
        .names {
            font-size: 20px;
        }
    
        .years {
            font-size: 10px;
            display: block; 
        }
    
        .fact-description {
            text-indent: 10px; 
            font-size: 10px;
        }
    
        .footer {
            flex-direction: column;
        }
    
        .copyright {
            text-align: center;
            font-size: 9px;
            letter-spacing: 1px;
        }
    
        .github-link {
            font-size: 10px;
            text-decoration: none;
        }
    }
}